flask
werkzeug
pymongo
dnspython
python-dotenv
requests
jieba
openai
sentence-transformers
numpy
pandas
scikit-learn
matplotlib
seaborn
faiss-cpu
pydub
baidu-aip
tinydb
chardet
bson
librosa
torch
gunicorn
flask-cors
